.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.flex {
  display: flex;
}

.h-1 {
  height: 0.25rem;
}

.w-4\/5 {
  width: 80%;
}

.flex-1 {
  flex: 1 1 0%;
}

.content-center {
  align-content: center;
}

.justify-center {
  justify-content: center;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
