.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.flex {
  display: flex;
}

.h-1 {
  height: 0.25rem;
}

.w-4\/5 {
  width: 80%;
}

.flex-1 {
  flex: 1 1 0%;
}

.justify-center {
  justify-content: center;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}
